{% extends 'base.html'%}



{% block content%}
    <h1>Members Only</h1>
    <h4> Luxury At Your Finger Tips</h4>
    <div class="row center" >
            <div class="col mt-2 mb-2">
                <div class="card" style="width: 35rem; align-items: center;">
                    <img src="https://th.bing.com/th/id/R.bc0929075f10eb2a6d2d6bd774c4acce?rik=xzbV1sV1hzmglw&pid=ImgRaw&r=0&sres=1&sresct=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"> Exclusive Access to The Galerie Home Collection</p>
                        <p class="card-text"> Exclusive Access to The Private Collection </p>
                        <p class="card-text"> Members Only Embroidered Silk and Linen Jaket </p>
                        <p class="card-text"> Private Appointments for Custom Handmade Garments </p>
                    <p class="card-text"> Complimentary Shipping </p>
                    <a href="loginPage" class="btn btn-dark" style="text-align: center;">Login</a>
                    <br>
                    <br>
                    <a href="register" class="btn btn-dark">Not a Member? Apply Now</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

  
  

    
    
    

