{% extends 'base.html'%}

{% block content%}
    <h1>Members Only Promo Codes</h1>
    <div class="row center" >
      
            <div class="col mt-2 mb-2">
                <div class="card" style="width: 35rem; align-items: center;">
                    <img src="https://th.bing.com/th/id/R.bc0929075f10eb2a6d2d6bd774c4acce?rik=xzbV1sV1hzmglw&pid=ImgRaw&r=0&sres=1&sresct=1" class="card-img-top" alt="...">
                    <div class="card-body">
                    
                    <p class="card-text"> MARRAKESH - 5% off and exclusivity to FALL 2023 Collection</p>
                    <p class="card-text"> SEVILLE - 5% off and exclusivity to FALL 2023 Collection</p>
                    <p class="card-text"> SOHO - 5% Off and exclusivity to the WINTER 2023 Collection</p>
                    <p class="card-text"> WESTPALM - 5% off and exclusivity to SUMMER 2023 Collection</p>
                    
                    
                    </div>
                </div>
            </div>

    </div>
{% endblock %}


<!-- this is the products page  -->
