{% extends 'base.html'%}



{% block content%}
 
    <div class="row center" >
            <div class="col mt-4 mb-4">
                <div class="card" style="width: 50rem; align-items: center;">
                    <img src="https://th.bing.com/th/id/R.bc0929075f10eb2a6d2d6bd774c4acce?rik=xzbV1sV1hzmglw&pid=ImgRaw&r=0&sres=1&sresct=1" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"> Exclusive Access to The Galerie Home Collection</p>
                        <p class="card-text"> Exclusive Access to The Private Collection </p>
                        <p class="card-text"> Members Only Embroidered Silk and Linen Jaket </p>
                        <p class="card-text"> Private Appointments for Custom Handmade Garments </p>
                    <p class="card-text"> Complimentary Shipping </p>
                    <a href="products" class="btn btn-dark" style="text-align: center;">Enter</a>
                    </div>
                </div>
            </div>
    </div>
{% endblock %}

  
  

    
    
    

